{{ JSGlue.include() }}
{% extends "template.html" %}
{% block content %}
      <main class="mdl-layout__content light-green">
        <div class="mdl-grid demo-content">
          <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-grid">
            <div class="demo-card-wide mdl-card" style="width: 100%">
			  <div class="mdl-card__title">
			    <h2 class="mdl-card__title-text">{{name}}</h2>
			  </div>
			  <div class="mdl-card__supporting-text">
			    {{desc}}
			  </div>
			  <ul class="demo-list-item mdl-list">
				  {% for member in members %}
				  	<li class="mdl-list__item">
			  		<i class="material-icons mdl-list__item-icon" style="margin-right: 10px">person</i>
				    <span class="mdl-list__item-primary-content">
				      {{member}}
				    </span>
				  </li>
				  {% endfor %}
			   </ul>
			   
			  <!--  -->
				<button id="calculate" href="{{url_for('group_calculate', group_id=group_id)}}" style="width: 130px" class="mdl-button mdl-js-button mdl-button--raised">
				  Calculate
				</button>
			   		<ul class="demo-list-item mdl-list" id="transferInfo">
					</ul>
				<div id="hidden" style="visibility:hidden">{{group_id}}</div>
			</div>
          </div>

          <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-grid" style="padding:25px;">
            <form method="POST" action="">
	    		{{ form.hidden_tag() }}
	    		<fieldset>
				      	<div>
				      		<h5>Create new transaction</h5>
						    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

								{{ form.owner.label(class="mdl-textfield__input") }}

						            {% if form.owner.errors %}
						            	{{ form.owner(class="form-control") }}
							            <div class="">
							              	{% for error in form.owner.errors %}
							                	<span>{{ error }}</span>
							              	{% endfor %}
							            </div>
						          {% else %}
						            	{{ form.owner(class="mdl-textfield__input") }}
						          {% endif %}

						    </div>
				            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

								{{ form.cost.label(class="mdl-textfield__input") }}

						          {% if form.cost.errors %}
						            {{ form.cost(class="form-control") }}
						            <div class="">
						              {% for error in form.cost.errors %}
						                <span>{{ error }}</span>
						              {% endfor %}
						            </div>
						          {% else %}
						            {{ form.cost(class="mdl-textfield__input") }}
						          {% endif %}

						  	</div>
						  	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

								{{ form.owings.label(class="mdl-textfield__input") }}

						          {% if form.owings.errors %}
						            {{ form.owings(class="form-control") }}
						            <div class="">
						              {% for error in form.owings.errors %}
						                <span>{{ error }}</span>
						              {% endfor %}
						            </div>
						          {% else %}
						            {{ form.owings(class="mdl-textfield__input") }}
						          {% endif %}

						 	 </div>
				            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

								{{ form.description.label(class="mdl-textfield__input") }}

						          {% if form.description.errors %}
						            {{ form.description(class="form-control") }}
						            <div class="">
						              {% for error in form.description.errors %}
						                <span>{{ error }}</span>
						              {% endfor %}
						            </div>
						          {% else %}
						            {{ form.description(class="mdl-textfield__input") }}
						          {% endif %}

						 	 </div>
					      </div>
					      {{ form.submit(class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect") }}

					      </div>
				  	</fieldset>
				</form>
				<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
		            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
					  <thead>
					    <tr>
					      <th class="mdl-data-table__cell--non-numeric">Owner</th>
					      <th>Description</th>
					      <th>Owings</th>
					      <th>Amount</th>
					    </tr>
					  </thead>
					  <tbody>
					  	{% for transaction in transactions %}
						  	<tr>
						      <td class="mdl-data-table__cell--non-numeric">{{transaction.owner}}</td>
						      <td>{{transaction.description}}</td>
						      <td style = "white-space: pre-wrap">{{transaction.owings}}</td>
						      <td>${{transaction.cost}}</td>
						    </tr>
					  	{% endfor %}

					  </tbody>
					</table>
		          </div>
				  </div>
			</div>
        </div>
      </main>
      <script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous">
	    </script>
      <script>
      	let group_id = $("#hidden").text();
      	$("#calculate").on("click", function() {
      		console.log(group_id);
      		$.get( Flask.url_for('group_calculate', {group_id:group_id}), function( data ) {
			  console.log(data);
			    Object.keys(data).forEach(function(key,index) {
			    	let $span = $("<span>").text(key + ' : ' + data[key]).addClass("mdl-list__item-primary-content");
			    	let $li = $("<li>").addClass("mdl-list__item");
			    	$("#transferInfo").append($li.append($span));
				    // key: the name of the object key
				    // index: the ordinal position of the key within the object 
				});
			});
      	});

      	$("#transfer").on("click", function() {
   //    		console.log(group_id);
   //    		$.get( Flask.url_for('transfer', {group_id:group_id}), function( data ) {
			//   	console.log(data);
			//  //    Object.keys(data).forEach(function(key,index) {
			//  //    	let $span = $("<span>").text(key + ' : ' + data[key]).addClass("mdl-list__item-primary-content");
			//  //    	let $li = $("<li>").addClass("mdl-list__item");
			//  //    	$("#transferInfo").append($li.append($span));
			// 	//     // key: the name of the object key
			// 	//     // index: the ordinal position of the key within the object 
			// 	// });
			// });
      	});
      	
      </script>
{% endblock content %}