{% extends "template.html" %}
{% block content %}
      <main class="mdl-layout__content light-green">
        <div class="mdl-grid demo-content">
          <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
            <div class="demo-card-wide mdl-card" style="width: 100%">
			  <div class="mdl-card__title">
			    <h2 class="mdl-card__title-text">Kamar-Taj</h2>
			  </div>
			  <div class="mdl-card__supporting-text">
			    Kamar-Taj is "a hidden land high in the Himalayas" and the homeland of Doctor Strange's mentor, the Ancient One, and of the evil sorcerer Kaluu. Strange's majordomo Wong also stems from a family of monks living in Kamar-Taj.

				Over 500 years ago, the man who would one day become the Ancient One 
			  </div>
			</div>
          </div>
          <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
			  <thead>
			    <tr>
			      <th class="mdl-data-table__cell--non-numeric">Date</th>
			      <th>Description</th>
			      <th>Amount</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td class="mdl-data-table__cell--non-numeric">2019-09-14 14:24</td>
			      <td>TIM HORTONS #478 _F</td>
			      <td>$2.90</td>
			    </tr>
			    <tr>
			      <td class="mdl-data-table__cell--non-numeric">2019-09-14 12:11</td>
			      <td>MTG CO 118828908</td>
			      <td>$1.25</td>
			    </tr>
			    <tr>
			      <td class="mdl-data-table__cell--non-numeric">2019-09-12 4:24</td>
			      <td>MCDONALD'S #40072 QPS</td>
			      <td>$2.35</td>
			    </tr>
			  </tbody>
			</table>
          </div>
          


			</div>
        </div>
      </main>
{% endblock content %}