<!DOCTYPE html>
<html>

<head>
	<title></title>
</head>

<body>
	Hi
	<!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->

<!-- ... -->

<section id="event-details-container">
	<!-- ... -->
	<!-- Add the RSVP button here -->
	 <button id="startRsvp">Sign In</button>
	 <button id="signOut">Sign Out</button>
</section>
<hr>
<section id="firebaseui-auth-container"></section>

<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-app.js"></script>
<script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-firestore.js"></script>

<script>
// Your web app's Firebase configuration
var firebaseConfig = {
	apiKey: "AIzaSyBST-3U14ztUoOfIADZ00hfl3vFlW-TN8Q",
	authDomain: "td-groups.firebaseapp.com",
	databaseURL: "https://td-groups.firebaseio.com",
	projectId: "td-groups",
	storageBucket: "td-groups.appspot.com",
	messagingSenderId: "682275914453",
	appId: "1:682275914453:web:139bb9d34df46f1d3f585c"
};
// Initialize Firebase
firebase.initializeApp(firebaseConfig);
</script>
<script src="/../static/js/home.js"></script>
<!-- ... -->
</body>

</html>
