{{ JSGlue.include() }}
<!DOCTYPE html>
<html>

<head>
	<title></title>
</head>

<body>
	Hi
	<!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->

<!-- ... -->

<section id="event-details-container">
	<!-- ... -->
	<!-- Add the RSVP button here -->
	 <button id="startRsvp">Sign In</button>
	 <button id="signOut">Sign Out</button>
</section>
<hr>











<section id="firebaseui-auth-container"></section>

<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-app.js"></script>
<script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-firestore.js"></script>

<script>
// Your web app's Firebase configuration
var firebaseConfig = {
	apiKey: "AIzaSyBST-3U14ztUoOfIADZ00hfl3vFlW-TN8Q",
	authDomain: "td-groups.firebaseapp.com",
	databaseURL: "https://td-groups.firebaseio.com",
	projectId: "td-groups",
	storageBucket: "td-groups.appspot.com",
	messagingSenderId: "682275914453",
	appId: "1:682275914453:web:139bb9d34df46f1d3f585c"
};
// Initialize Firebase
firebase.initializeApp(firebaseConfig);
</script>
<!-- <script src="/../static/js/home.js"></script> -->
<!-- ... -->
<script>

	// ...
	// Initialize the FirebaseUI widget using Firebase
	const ui = new firebaseui.auth.AuthUI(firebase.auth());


	// Initiate firebase auth.
	function initFirebaseAuth() {
	  // Listen to auth state changes.
	  firebase.auth().onAuthStateChanged(authStateObserver);
	}

	// Triggers when the auth state change for instance when the user signs-in or signs-out.
	function authStateObserver(user) {
	  if (user) { // User is signed in!
	    console.log("Sign In");
	    location.href = Flask.url_for('dashboard', {uid: firebase.auth().currentUser.uid});

	  }
	}

	// ...
	// At the bottom

	const startRsvpButton = document.getElementById('startRsvp');
	const signOutButton = document.getElementById('signOut');


	// Listen to RSVP button clicks
	startRsvpButton.addEventListener("click",
	 () => {
	   var provider = new firebase.auth.GoogleAuthProvider();
	   provider.setCustomParameters({prompt: 'select_account'});
	   firebase.auth().signInWithPopup(provider);
	});

	// Listen to RSVP button clicks
	signOutButton.addEventListener("click",
	 () => {
	   firebase.auth().signOut();
	   console.log("sign out");
	});



	// initialize Firebase
	initFirebaseAuth();


</script>
</body>

</html>
